body {
  background-color: blue;
}

.link-custom {
  text-decoration: none;
  color: inherit;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s;
  color: white
}

.link-custom:hover {
  color: green;
  transform: scale(1.1);
}